@import "tailwindcss";

@theme{
    --color-minty: #F3FFF9;
    --color-softRed: #EA7173;
    --color-peach: #FDAA5D;
    --color-pure: #FFFFFF;
}

/* 
primary: '#FDAA5D',
secondary: '#EA7173',
background: '#F3FFF9',
surface: '#FFFFFF',
danger: '#EA7173',
// optional:
text: '#1a1a1a',
muted: '#999999', */